<p-toolbar styleClass="!bg-white !rounded-none !border-0 !border-b !border-black/10 !px-6 !py-3">

  <ng-template #start>
    <div class="flex items-center gap-3">
      <p-button
        icon="pi pi-bars"
        [text]="true"
        [plain]="true"
        styleClass="!text-[#0a0a0a]"
        (onClick)="menuClick.emit()"
      />
      <span class="text-sm font-bold tracking-tight" style="font-family:'Sora',sans-serif;">
        Hygieia
      </span>
    </div>
  </ng-template>

  <ng-template #end>
    <div class="flex items-center gap-2">
            <p-overlaybadge value="2" >
      <p-button
        icon="pi pi-bell"
        [text]="true"
        [plain]="true"
        styleClass="!text-[#0a0a0a]"
      />
                  </p-overlaybadge>
        <div
          class="flex items-center gap-3 px-3 py-2 rounded-xl cursor-pointer hover:bg-[#f5f5f5] transition-colors"
        >
          <div>
            <p class="text-xs font-medium">Amira Bensalem</p>
            <p class="text-[10px] font-light text-black/40">Patient</p>
          </div>

      <p-avatar
        label="AB"
        styleClass="!bg-[#0a0a0a] !text-white !text-xs !font-semibold cursor-pointer"
        shape="circle"
        size="normal"
      />
        </div>
      </div>

  </ng-template>

</p-toolbar>
