/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

:root {
  --font-heading: 'Sora', sans-serif;
  --font-body: 'Lexend', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  margin: 0;
  font-family: var(--font-body);
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  margin: 0;
}
